body{
    background-color: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}
.photo{
    border: 1px solid #505050;
    border-radius: 50%;

}
#title{
    font-size: 40px;
    text-transform: uppercase;
}
 a {
text-decoration: line-through;
color: #505050;
}
#title, .subtitle, .post_title {
    color: #505050;
}
.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post_art {
    background: #fff;
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 10px;
    border-radius: 5px;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post_image{
margin-bottom: 15px;
width: 100%;
}
.contacts_list{
    list-style-type: none;
    padding: 0px;
    padding-left: 15px;
}
.contacts_list li a{
    text-decoration: none;
}