body{
    background-color: #cccc;
}
#title, .subtitle, .post_title {
    color: blue;
}
.post_title {
    font-size: 16px;
    font-style: italic;
}
.post_imagem {
    background: white;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
}